

<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#/home">CCIS Graduate Academic Advisor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="#/user/{{model.userId}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Charts">
         <a class="nav-link" ng-click="model.hasData1()">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#/user/{{model.userId}}/discussionBoard">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Discussion Board</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#/user/{{model.userId}}">
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">{{model.user.username}}</span>
            </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
     <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/questionnare">Questionnaire</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#/grades">Previous courses info</a>
        </li>
        <li class="breadcrumb-item active">Recommended Courses</li>
      </ol> -->
      <div class="row">
        <div class="col-12">
           <div class="text-center bgclr2"><h2>Recommended Courses</h2></div><br>
        </div>
      </div>


      <div class="row">
	       	<div class="col-12">
                <div class="row">
                    <div ng-if="model.hasData" class="col-3">
                        <a href="#/user/{{model.userId}}/questionnare" class="btn btn-info" role="button">Update Your Preferences</a>
                    </div>
                </div><br>
		      </div>
	</div>
	<div class="row">
		<div class="col-3">

      <select class="form-control" ng-model="filterItem.store" ng-options="item.name for item in filterOptions.stores">
            <!--<option selected disabled>Filter by Specialization</option>
            <option value="AI">AI</option>
            <option value="DB">Database</option>
            <option value="Networks">Networks</option>
            <option value="Theory">Theory</option>
            <option value="SE">Software Engineering</option>
            <option value="HCI">HCI</option>
            <option value="Graphics">Graphics</option>
            <option value="Security">Security</option>
            <option value="Game Design">Game Design</option>-->
     </select>
          
        </div>
		<div class="col-3">
			 <select class="form-control" ng-model="filterItem1.store1" ng-options="item.name for item in filterOptions1.stores1">
            <!--<option selected disabled>Filter by Study Time(Hours/Week)</option>
            <option value="AI">4-8</option>
            <option value="DB">8-12</option>
            <option value="Networks">12-16</option>
            <option value="Theory">16-20</option>-->
       </select>
          
        </div>
        <div class="btn btn-secondary" role="button" ng-click="model.clearFilter()">
          Reset Filter
          
        </div>
      </div>
	<div><br>
	</div>




</div>

      <div class="opbox" ng-repeat="item in model.courseData|filter:customFilter|filter:customFilter1|limitTo:2">
          
          <p>Course : {{item.Course}}</p>
          <p>Professor : {{item.Professor}}</p>
          <p>Lecture Hours : {{item.Lecture_Hours}}</p>
          <p>Location : {{item.Location}}</p>

          <div class="score">
              <p > Average student grades under professor {{item.Professor}}</p>
          </div>
          <ul class="bar-graph">
              <li class="bar-graph-axis">
                  <div class="bar-graph-label">100%</div>
                  <div class="bar-graph-label">75%</div>
                  <div class="bar-graph-label">50%</div>
                  <div class="bar-graph-label">25%</div>
                  <div class="bar-graph-label">0%</div>
              </li>
              <li class="bar primary" ng-style="{height: item.T1+'%'}" title="{{item.T1}}">

                  <div class="description">A/A-</div>
              </li>
              <li class="bar secondary" ng-style="{height: item.T2+'%'}" title="{{item.T2}}">

                  <div class="description">B+/B</div>
              </li>
              <li class="bar success" ng-style="{height: item.T3+'%'}"  title="{{item.T3}}">

                  <div class="description">B-/C+</div>
              </li>
              <li class="bar alert" ng-style="{height: item.T4+'%'}" title="{{item.T4}}">

                  <div class="description">C+</div>
              </li>
          </ul></div>
      </div>

<div>

 <!-- <div class="opbox">
  <p>Course : {{model.courseData[0].Course}}</p>
	<p>Professor : John Doe</p>
	<p>Lecture Hours : MR 6:00pm-7:30pm</p>
  <p>Location : Snell Library 125</p>
  <p><a href="viewThreads-dbms.html" style="color:navy; text-decoration: underline;">View CS5200 Discussions</a></p>
  </div>

<div class="opbox">
<div class="score">
<p > Average student grades under professor John Doe</p>
</div>
<ul class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">75%</div>
    <div class="bar-graph-label">50%</div>
    <div class="bar-graph-label">25%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  <li class="bar primary" style="height: 55%;" title="55">
    
    <div class="description">A/A-</div>
  </li>
  <li class="bar secondary" style="height: 35%;" title="35">
    
    <div class="description">B+/B</div>
  </li>
  <li class="bar success" style="height: 9%;" title="9">
    
    <div class="description">B-/C+</div>
  </li>
  <li class="bar alert" style="height: 1%;" title="1">
    
    <div class="description">C+</div>
  </li>
</ul></div>
</div>

<div>
  <div class="transbox">
  <p>Course : CS6200- Information Retrieval</p>
	<p>Professor : Alice Wonderland</p>
  <p>Lecture Hours : TF 1:30pm-3:30pm</p>
  <p>Location : Cargill 90</p>
  <p><a href="viewThreads-dbms.html" style="color:navy; text-decoration: underline;">View CS6200 Discussions</a></p>
  </div>

<div class="opbox">
<div class="score">
<p > Average student grades under professor Alice Wonderland</p>
</div>
<ul class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">75%</div>
    <div class="bar-graph-label">50%</div>
    <div class="bar-graph-label">25%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  <li class="bar primary" style="height: 70%;" title="70">
    
    <div class="description">A/A-</div>
  </li>
  <li class="bar secondary" style="height: 30%;" title="30">
    
    <div class="description">B+/B</div>
  </li>
  <li class="bar success" style="height: 0%;" title="0">
    
    <div class="description">B-/C+</div>
  </li>
  <li class="bar alert" style="height: 0%;" title="0">
    
    <div class="description">C+</div>
  </li>
</ul></div>

-->
<div><br><br></div>





      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © The Advisors 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#/courses">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#/login">Logout</a>
          </div>
        </div>
      </div>
    </div>

  






  </div>
</div>

