<

<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#/user/{{model.userId}}">CCIS Graduate Academic Advisor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="#/user/{{model.userId}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Recommended Courses">
          <a class="nav-link" href="#/user/{{model.userId}}/questionnare">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Discussion Board">
          <a class="nav-link" href="#/user/{{model.userId}}/discussionBoard">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Discussion Board</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">{{model.user.username}}</span>
            </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
     <!--  <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol> -->
      <div class="row">
        <div class="col-12">
          <img ng-src="../project/images/logo.png" alt="logo" class="center-block" />
          <h2 class="text-center">Choose One of the Below Categories</h2>
        </div>
      </div><br>

    <div class="container">
    <div class="row flex">
       <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Human Computer Interaction/viewThreads"><img src="../project/images/HCI.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">HCI</p>
           </div>
          </a>
        </div>
      </div>
       <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Artificial Intelligence/viewThreads"><img src="../project/images/ai.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">AI</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Networks/viewThreads"><img src="../project/images/networks2.jpg" alt="Avatar" class="image">
          <div class="caption">
              <p class="text-center">Networks</p>
          </div></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Database/viewThreads"><img src="../project/images/database.png" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Database</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
           <a href="#/user/{{model.userId}}/discussionBoard/Software Engineering/viewThreads"><img src="../project/images/algorithms.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Software Engineering</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Graphics/viewThreads"><img src="../project/images/graphics.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Graphics</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Security/viewThreads"><img src="../project/images/security.jpg" alt="Avatar" class="image">
             <div class="caption">
              <p class="text-center">Security</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Game Design/viewThreads"><img src="../project/images/gamedesign.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Game Design</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Systems/viewThreads"><img src="../project/images/systems.jpg" alt="Avatar" class="image">
          <div class="caption">
              <p class="text-center">Systems</p>
           </div>
         </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Programming Languages/viewThreads"><img src="../project/images/pl.jpg" alt="Avatar" class="image">
           <div class="caption">
              <p class="text-center">Programming Language</p>
           </div>
         </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Theory/viewThreads"><img src="../project/images/theory.jpg" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Theory</p>
           </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="thumbnail">
          <a href="#/user/{{model.userId}}/discussionBoard/Theory/viewThreads"><img src="../project/images/others.png" alt="Avatar" class="image">
            <div class="caption">
              <p class="text-center">Others</p>
           </div>
          </a>
        </div>
      </div>
      
  </div>
</div>
</div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © The Advisors 2018</small>
        </div>
      </div>
    </footer>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#/login">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


