
<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#/home">CCIS Graduate Academic Advisor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="#/user/{{model.userId}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Recommended Courses">
         <a class="nav-link" ng-click="model.hasData1()">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Discussion Board">
          <a class="nav-link" href="#/user/{{model.userId}}/discussionBoard">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Discussion Board</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#/user/{{model.userId}}">
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">{{model.user.username}}</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
     <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/questionnare">Questionnaire</a>
        </li>
        <li class="breadcrumb-item active">Previous courses info</li>
      </ol>
      <div class="row">
        <div class="col-12">
            <img ng-src="../project/images/logo.png" alt="logo" class="center-block" />
          <h2 class="text-center">Please enter your previous semester course information</h2>
           <p class="required-field text-center"><span class="red">*</span> indicates required field</p>
        </div>
      </div>

     <div class="card mb-3">
       <div class="card-header">
         <i class="fa fa-exclamation-triangle"></i> Your grade information will be kept confidential
       </div>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <tbody>
                <tr>
                  <th colspan="2" id="answer-header"> Enter details for Course 1: </th>
                </tr>
                <tr>

                  <td> Choose the course : <span class="red">*</span></td>
                  <td>
                          <select class="form-control">
                            <option selected disabled>Course Code</option>
                            <option value="cs5200">CS5200</option>
                            <option value="cs5800">CS5800</option>
                            <option value="cs5610">CS5610</option>
                            <option value="cs6350">CS6350</option>
                         </select>
                  </td>
                </tr>
                <tr>
                  <td> Choose the Professsor : <span class="red">*</span></td>
                  <td>
                     <select class="form-control">
                          <option selected disabled>Professor</option>
                          <option value="A">Prof John</option>
                          <option value="B">Prof Ann</option>
                          <option value="C">Prof Alice</option>
                          <option value="D">Prof Ben</option>
                          <option value="E">Prof Ram</option>
                      </select>
                  </td>
                </tr>
                <tr>
                  <td> Grade received : <span class="red">*</span></td>
                  <td>
                   <select class="form-control">
                      <option selected disabled>Grades</option>
                      <option value="A">A to A-</option>
                      <option value="B+">B+ to B</option>
                      <option value="B-">B- to C+</option>
                      <option value="C">C to C-</option>
                      <option value="D+">D+ to D-</option>
                      <option value="others">Others</option>
                  </select>
                  </td>
                </tr>
                <tr>
                    <td> Average Study Time (Hours/Week) : <span class="red">*</span></td>
                    <td>
                       <form>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;4-8&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;8-12&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;12-16&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;16-20&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                        </form>
                    </td>
                </tr>
              </tbody>
            </tr>
            <tr>
              <tbody>
                <tr>
                  <th colspan="2" id="answer-header"> Enter details for Course 2: </th>
                </tr>

                <tr>
                  <td> Choose the course : <span class="red">*</span></td>
                  <td>
                          <select class="form-control">
                            <option selected disabled>Course Code</option>
                            <option value="cs5200">CS5200</option>
                            <option value="cs5800">CS5800</option>
                            <option value="cs5610">CS5610</option>
                            <option value="cs6350">CS6350</option>
                         </select>
                  </td>
                </tr>
                <tr>
                  <td> Choose the Professsor : <span class="red">*</span></td>
                  <td>
                     <select class="form-control">
                          <option selected disabled>Professor</option>
                          <option value="A">Prof John</option>
                          <option value="B">Prof Ann</option>
                          <option value="C">Prof Alice</option>
                          <option value="D">Prof Ben</option>
                          <option value="E">Prof Ram</option>
                      </select>
                  </td>
                </tr>
                <tr>
                  <td> Grade received : <span class="red">*</span></td>
                  <td>
                   <select class="form-control">
                      <option selected disabled>Grades</option>
                      <option value="A">A to A-</option>
                      <option value="B+">B+ to B</option>
                      <option value="B-">B- to C+</option>
                      <option value="C">C to C-</option>
                      <option value="D+">D+ to D-</option>
                      <option value="others">Others</option>
                  </select>
                  </td>
                </tr>
                <tr>
                    <td> Average Study Time (Hours/Week) : <span class="red">*</span></td>
                    <td>
                       <form>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;4-8&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;8-12&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;12-16&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">&nbsp;16-20&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                        </form>
                    </td>
                </tr>
              </tbody>
            </tr>
          </table>
        </div>
    </div>

     <div class="text-center"> 
       <a href="#/:userId/questionnare" class="btn btn-secondary" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
       <a href="#/user/{{model.userId}}/courses" class="btn btn-success" role="button" > Submit</a>
    </div>
    </div>
   <br>



    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © The Advisors 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#/login">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

