

<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#/user/{{model.userId}}">CCIS Graduate Academic Advisor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="#/user/{{model.userId}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Recommended Courses">
          <a class="nav-link" href="#/user/{{model.userId}}/questionnare">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Discussion Board">
          <a class="nav-link" href="#/user/{{model.userId}}/discussionBoard">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Discussion Board</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">{{model.user.username}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/user/{{model.userId}}/discussionBoard">Discussion Board</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#/user/{{model.userId}}/discussionBoard/{{model.courseCategory}}/viewThreads">Specialization: {{model.courseCategory}}</a>
        </li>
        <li class="breadcrumb-item active">Create New Thread</li>
      </ol>

      <div class="row">
        <div class="col-12">
          <img ng-src="../project/images/logo.png" alt="logo" class="center-block" />
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          </br>
          </br>
          <h1>Specialization: {{model.courseCategory}}</h1>
          <div class="card">
            <div class="card-header">Create New Thread<br></div>

            <div ng-if="model.error" class="alert alert-danger">
              {{model.error}}
            </div>
            <div class="card-body">
              <p class="required-field"><span class="red">*</span> indicates required field</p>
              <form name="postingNewThread" novalidate>
                <div class="form-group col-md-12">
                  <label for="question">Question <span class="red">*</span></label>
                  <input ng-model= "question" name="question" class="form-control" required id="question" type="text" aria-describedby="questionHelp" placeholder="Enter your Question">
					<span ng-show="postingNewThread.$submitted && postingNewThread.question.$invalid">
                    Question is required
                </span>
                </div>


                <div class="col-md-6 selectContainer">
                  <label class="col-xs-3 control-label">Course <span class="red">*</span></label>
                  <select ng-model= "course" class="form-control" id = "course" name="course" required ng-options="x for x in courses" placeholder="Select Course">
                  </select>
                  <span ng-show="postingNewThread.$submitted && postingNewThread.course.$invalid">
                    Course is required
                    </span>
                </div>

                <div class="form-group col-md-12">
                  <label for="description">Description <span class="red">*</span></label>
                  <textarea class="form-control" ng-model= "description" name="description" required id="description" type="text" cols="40" rows="5" aria-describedby="descriptionHelp" placeholder="Enter Description"></textarea>
					<span ng-show="postingThread.$submitted && postingThread.description.$invalid">
                    Description is required
                </span>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block"
                          ng-click="model.createThread(question, course, description)">
                    Submit
                  </button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © The Advisors 2018</small>
        </div>
      </div>
    </footer>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#/login">Logout</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


