

<div class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#/user/{{model.userId}}">CCIS Graduate Academic Advisor</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="#/user/{{model.userId}}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Questionaire">
          <a class="nav-link" ng-click="model.hasData1()">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Discussion Board">
          <a class="nav-link" href="#/user/{{model.userId}}/discussionBoard">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Discussion Board</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="#/user/{{model.userId}}">
              <i class="fa fa-fw fa-user"></i>
              <span class="nav-link-text">{{model.user.username}}</span>
            </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
			<img ng-src="../project/images/logo.png" alt="logo" class="center-block" />
          <h2 class="text-center">{{model.heading}}</h2>
          <p class="required-field text-center"><span class="red">*</span> indicates required field</p>
      <div class="wrap">
       <form action="">
	    <label class="statement">I like project based courses <span class="red">*</span></label>
	    <ul class='likert'>
	      <li>
	        <input ng-model="model.result" type="radio" name="likert" value="Strong_disagree">
	        <label>Strongly disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result" type="radio" name="likert" value="Disagree">
	        <label>Disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result" type="radio" name="likert" value="Neutral">
	        <label>Neutral</label>
	      </li>
	      <li>
	        <input ng-model="model.result" type="radio" name="likert" value="Agree">
	        <label>Agree</label>
	      </li>
	      <li>
	        <input ng-model="model.result" type="radio" name="likert" value="Strong_agree">
	        <label>Strongly agree</label>
	      </li>
	    </ul>
	    <label class="statement">I don't prefer working in teams <span class="red">*</span></label>
	    <ul class='likert'>
	      <li>
	        <input ng-model="model.result1" type="radio" name="likert1" value="Strong_disagree">
	        <label>Strongly disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result1" type="radio" name="likert1" value="Disagree">
	        <label>Disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result1" type="radio" name="likert1" value="Neutral">
	        <label>Neutral</label>
	      </li>
	      <li>
	        <input ng-model="model.result1" type="radio" name="likert1" value="Agree">
	        <label>Agree</label>
	      </li>
	      <li>
	        <input ng-model="model.result1" type="radio" name="likert1" value="Strong_agree">
	        <label>Strongly agree</label>
	      </li>
	    </ul>
	    <label class="statement">I prefer exams to assignments <span class="red">*</span></label>
	    <ul class='likert'>
	      <li>
	        <input ng-model="model.result2" type="radio" name="likert2" value="Strong_disagree">
	        <label>Strongly disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result2" type="radio" name="likert2" value="Disagree">
	        <label>Disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result2" type="radio" name="likert2" value="Neutral">
	        <label>Neutral</label>
	      </li>
	      <li>
	        <input ng-model="model.result2" type="radio" name="likert2" value="Agree">
	        <label>Agree</label>
	      </li>
	      <li>
	        <input ng-model="model.result2" type="radio" name="likert2" value="Strong_agree">
	        <label>Strongly agree</label>
	      </li>
	    </ul>
	    <label class="statement">I like to study from text books <span class="red">*</span></label>
	    <ul class='likert'>
	      <li>
	        <input ng-model="model.result3" type="radio" name="likert3" value="Strong_disagree">
	        <label>Strongly disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result3" type="radio" name="likert3" value="Disagree">
	        <label>Disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result3" type="radio" name="likert3" value="Neutral">
	        <label>Neutral</label>
	      </li>
	      <li>
	        <input ng-model="model.result3" type="radio" name="likert3" value="Agree">
	        <label>Agree</label>
	      </li>
	      <li>
	        <input ng-model="model.result3" type="radio" name="likert3" value="Strong_agree">
	        <label>Strongly agree</label>
	      </li>
	    </ul>
	    <label class="statement">I don't like to read research papers <span class="red">*</span></label>
	    <ul class='likert'>
	      <li>
	        <input ng-model="model.result4" type="radio" name="likert4" value="Strong_disagree">
	        <label>Strongly disagree</label>
	      </li>
	      <li>
	        <input ng-model="model.result4" type="radio" name="likert4" value="Disgree">
	        <label>Disgree</label>
	      </li>
	      <li>
	        <input ng-model="model.result4" type="radio" name="likert4" value="Neutral">
	        <label>Neutral</label>
	      </li>
	      <li>
	        <input ng-model="model.result4" type="radio" name="likert4" value="Agree">
	        <label>Agree</label>
	      </li>
	      <li>
	        <input ng-model="model.result4" type="radio" name="likert4" value="Strong_agree">
	        <label>Strongly agree</label>
	      </li>
	    </ul>
	     <div class="text-right" ng-if="model.buttonname === 'Next'">
	     	 <!-- <a href="#" class="btn btn-danger" role="button">Clear</a> -->
            <a href="#/{{model.userId}}/grades" class="btn btn-success" role="button" ng-click="model.setData()">Next<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
   		 </div>
		   <div class="text-center" ng-if="model.buttonname === 'Update'">
			   <!-- <a href="#" class="btn btn-danger" role="button">Clear</a> -->
			   <a href="#/{{model.userId}}/courses" class="btn btn-success" role="button" ng-click="model.setData()">Update<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		   </div>
   
 	     </form>
 	 </div>
			<br>
          </div>
        </div>
     </div>
    </div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © The Advisors 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#/login">Logout</a>
          </div>
        </div>
      </div>
    </div>



  </div>

